configuration {
    show-icons: true;
    font: "JetBrains Mono Nerd Font 13";
    icon-theme: "Papirus-Dark";

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 120;
}

@theme "gruvbox-material"
